    body {
      background-color: black;
      color: white;
    }
    .container {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .footer {
      text-align: center;
      margin-top: 50px;
    }
    div {
      margin-top: 20px;
      padding: 10px;
    }
    img {
      max-width: 370px;
      max-height: 370px;
      object-fit: contain;
    }
    label {
      font-weight: bold;
    }
    span {
      font-weight: bold;
    }
    .item-container {
      text-align: center;
    }
    .btn-outline-success {
      color: white !important;
      border-color: white !important;
    }
    .estoque-alto {
      color: greenyellow;
    }
    .estoque-medio{
      color: yellow;
    }
    .estoque-baixo{
      color: red;
    }