body {
  background-color: #1e1691;
  /* background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-tecnologia-azul-abstrato_23-2149352058.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.text-white {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link.NiveldosRios:hover {
  color: #5fb2f5;
}

.navbar-dark .navbar-nav .nav-link.ContatosdeEmergencia:hover {
  color: #ff3636;
}

.navbar-dark .navbar-nav .nav-link.PrevisaodeAlagamento:hover {
  color: orange;
}

.navbar-dark .navbar-nav .nav-link.PrevisaodoTempo:hover {
  color: yellow;
}

.content-div.active {
  display: block;
}

.rio-info {
  background-color: rgba(217, 217, 217, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
}

ul.list-unstyled {
  padding-left: 0;
}

ul.list-unstyled li {
  padding: 10px 0;
  font-size: 18px;
}

ul.list-unstyled li i {
  margin-right: 10px;
}

.alert-warning {
  background-color: #ffcc00;
  color: #333;
}

.alert-warning i {
  margin-right: 10px;
}

